{% extends 'partials/user_nav.html' %}
{% block title %} Volunteer Dashboard {% endblock %}
{% load static %}
{% load index %}
{% block content %}

<style>
    
    label{
        font-weight: bold;
    }
    .goog-te-combo{
        display: flex;
        border: none;
        padding: 10px;
        cursor: pointer;

    }
    .goog-te-menu2 { 
    max-width: 100% !important;
    overflow: scroll !important;
    box-sizing:border-box !important; 
    height:auto !important; 
    }
    .star-rating {
  line-height:32px;
  font-size:2.25em;
  margin-bottom: 1rem;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

.star-rating .fa-star{color: gold;}

</style>

<div class="h-screen flex-grow-1 overflow-y-lg-auto">
   <div style="margin-left:3px">
    <div id="google_translate_element"></div>
   </div>
       

    <!-- Main -->
    
    <main class="py-6 bg-surface-secondary">
        <div class="container-fluid">
            <!-- Card stats -->
            <div class="row g-6 mb-6" id='cards'>

            <!-- 1 -->
            
            <div class="col" style="padding:0 !important;">
                <div class="card shadow p-3 py-5">
                    <div class="mt-3" style="display: flex;justify-content: center;">
                        <h4 float-center>{{request_data.unique_no.value}}</h4> 
                        {% if request_data.requestStatus.statusName.value == 'CLOSED' %}
                        <button class="btn btn-primary profile-button float-right" id="volunteer_view_request_submit_btn" style="margin-right: 20px;background-color: #519f3d;border: none;" type="button">SAVE</button>
                        {% endif %}
                    </div>
                    <form id="view_request_form">
                      <input type="text" name="task_id" id="task_id" value="{{request_data.id.value}}" hidden>
                      {% if request_data.requestStatus.statusName.value == 'ASSIGNED' or request_data.requestStatus.statusName.value == 'INPROGRESS' %}
                        
                      <div  class="row mt-6 mb-6">
                        <div class="col-9" style="display: flex;">
                        <label>OTP:</label>
                        {% if request_data.requestStatus.statusName.value == 'ASSIGNED' %}
                        <input class="form-control ml-3" type="number" otp_type="start" name="otp_input" id="otp_input" style="width: 50%;" placeholder="Start Otp"  autofocus>
                        {% else %}
                        <input class="form-control ml-3" type="number" otp_type="end" name="otp_input" id="otp_input" style="width: 50%;" placeholder="End Otp"  autofocus>
                        {% endif %}
                        <button class="btn btn-sm ml-3" id="otp_submit_btn" style="border: none;background-color: darkorchid;font-size:small;color: azure;width: 50;" type="button">SUBMIT</button>
                        </div>
                      </div> 
                      {% endif %}      
                      <div class="row mt-2">
                        <div class="col"><label>Address/Location</label>
                            <textarea class="form-control"  id="address" name="address" rows="1" cols="50" readonly>{{request_data.address.value}} </textarea>
                        </div>
                        <div class="col"><label>Pincode</label>
                          <input class="form-control" id="pincode" name="pincode" type="text"   placeholder="" value="{{request_data.pincode.value}}" readonly required>
                      </div>
                    </div>
                      <div class="row mt-2">
                        <div class="col-md-4"><label>Category</label>
                            <input class="form-control" id="category" name="category" value="{{request_data.subCategory.subCategoryName.value}}"  type="text" placeholder="" readonly>
                        </div>
                        <div class="col-md-4"><label>Description</label>
                            <textarea class="form-control"  id="description" name="description" rows="1" cols="50" readonly >{{request_data.description.value}} </textarea>
                        </div>
                        <div class="col-md-4"><label>Requested User</label>
                            <input class="form-control" id="user" name="user" value="{{request_data.requestor.first_name.value}} - {{request_data.requestor.usercontactinfo.primaryPhoneNumber.value}}" type="text" placeholder="" readonly>
                        </div>
                      </div>
                      <div class="row mt-2" > 
                       
                                        
                          <div class="col-md-4">
                            <label for="time_in">Request Time In Bound</label>&nbsp<i class="fa fa-calendar"></i>
                            <input id='time_in' type="datetime-local" name="time_in" value="{{request_data.requestTimeInBound.value}}" class="form-control input-group date" readonly >
                          </div>
                          <div class="col-md-4">
                            <label for="time_out">Request Time Out Bound</label>&nbsp<i class="fa fa-calendar"></i>
                            <input id='time_out' type="datetime-local" name="time_out" value="{{request_data.requestTimeOutBound.value}}"  class="form-control input-group date" readonly>
                          </div>
                          <div class="col-md-4">
                            <label for="created_on">Created on</label>&nbsp<i class="fa fa-calendar"></i>
                            <input id='created_on' type="text" name="created_on" value="{{request_data.requestCreatedOn.value}}"  class="form-control input-group date" readonly>
                          </div>
                      </div>
                      <div class="row mt-2">
                        <div class="col-md-4" >
                            <label>Status</label>
                            
                            <select class="form-select" name="status" id="status" disabled>
                                <option value="CLOSED"{% if request_data.requestStatus.statusName.value == 'CLOSED' %}selected{% endif %}>CLOSED</option>
                                <option value="ASSIGNED"{% if request_data.requestStatus.statusName.value == 'ASSIGNED' %}selected{% endif %}>ASSIGNED</option>
                                <option value="INPROGRESS"{% if request_data.requestStatus.statusName.value == 'INPROGRESS' %}selected{% endif %}>INPROGRESS</option>
                                <option value="PENDING"{% if request_data.requestStatus.statusName.value == 'PENDING' %}selected{% endif %}>PENDING</option>
                                <option value="RESOLVED"{% if request_data.requestStatus.statusName.value == 'RESOLVED' %}selected{% endif %}>RESOLVED</option>
                            </select>
                        </div>
                        <div class="col-md-4">
                            <label for="actual_time_in">Actual Time In Bound</label>&nbsp<i class="fa fa-calendar"></i>
                            <input id='actual_time_in' type="datetime-local" name="actual_time_in" value="{{request_data.actualTimeInBound.value}}" class="form-control input-group date" {% if request_data.requestStatus.statusName.value == 'RESOLVED' or request_data.requestStatus.statusName.value == 'CLOSED' %} readonly {% endif %}>
                          </div>
                          <div class="col-md-4">
                            <label for="actual_time_out">Actual Time Out Bound</label>&nbsp<i class="fa fa-calendar"></i>
                            <input id='actual_time_out' type="datetime-local" name="actual_time_out" value="{{request_data.actualTimeOutBound.value}}"  class="form-control input-group date" {% if request_data.requestStatus.statusName.value == 'RESOLVED' or request_data.requestStatus.statusName.value == 'CLOSED' %} readonly {% endif %}>
                          </div>
                      </div>
                    </form>
                </div>
            </div>
            {% if request_data.requestStatus.statusName.value == 'CLOSED' %}
            <div class="card shadow border-0 mb-7 mt-5">
                <div class="row">
                    <div class="col">
                        <label>Ratings</label>
                        <div class="container">
                            <div class="row">
                              <div class="col-lg-12">
                                <div class="star-rating">
                                  <span class="fa fa-star-o" data-rating="1"></span>
                                  <span class="fa fa-star-o" data-rating="2"></span>
                                  <span class="fa fa-star-o" data-rating="3"></span>
                                  <span class="fa fa-star-o" data-rating="4"></span>
                                  <span class="fa fa-star-o" data-rating="5"></span>
                                  <input type="hidden" name="rating" class="rating-value" id="rating"  {% if request_data.volunteerRating.value %} value="{{request_data.volunteerRating.ratingNumber.value}}" readonly {% else %} value="3" {% endif %}>
                                </div>
                              </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mb-5">
                    <div class="col">
                        <label>Feedback</label>
                        <textarea class="form-control"  id="feedback" name="feedback" rows="4" cols="50" {% if request_data.volunteerFeedback.value %}readonly {% endif %}>{{request_data.volunteerFeedback.value}}</textarea>
                    </div>
                </div>
            </div>
        {% endif %}
    </main>
</div>

{% if not request_data.volunteerRating.value %}
<script>
    var $star_rating = $('.star-rating .fa');
    $star_rating.on('click', function() {
  $star_rating.siblings('input.rating-value').val($(this).data('rating'));
  return SetRatingStar();
});
</script>
{% endif %}
<script>

try{
    var $star_rating = $('.star-rating .fa');

    var SetRatingStar = function() {
    return $star_rating.each(function() {
    if (parseInt($star_rating.siblings('input.rating-value').val()) >= parseInt($(this).data('rating'))) {
      return $(this).removeClass('fa-star-o').addClass('fa-star');
    } else {
      return $(this).removeClass('fa-star').addClass('fa-star-o');
    }
  });
};

SetRatingStar();
}
catch(err){

}
</script>
<script src="{% static 'js/volunteer/volunteer.js' %}"></script>
<script type="text/javascript">

    
    function googleTranslateElementInit() {
      new google.translate.TranslateElement({pageLanguage: 'en', includedLanguages : 'hi,en,mr,ms,gu,kn,ta'},'google_translate_element');
    }
</script>


<script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>

{% endblock %}