{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<!-- basic -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- mobile metas -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="viewport" content="initial-scale=1, maximum-scale=1">
<!-- site metas -->
<title>{% block title %}{% endblock %}</title>
<!-- bootstrap css -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="{% static 'css/bootstrap/bootstrap.min.css' %}">
<!-- fevicon -->
<!-- <link rel="icon" href="{% static 'images/fevicon.png' %}" type="image/gif" /> -->
<!-- Scrollbar Custom CSS -->
<link rel="stylesheet" href="{% static 'css/bootstrap/jquery.mCustomScrollbar.min.css' %}">
<!-- Tweaks for older IEs-->
<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
<!-- owl stylesheets --> 
<link rel="stylesheet" href="{% static 'css/bootstrap/owl.carousel.min.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
</head>
<body>
    {% block index %}
    {% endblock %}
    <script src="{% static 'js/bootstrap/jquery.min.js' %}"></script>
    <script src="{% static  'js/bootstrap/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/bootstrap/jquery-3.0.0.min.js' %}"></script>
    <script src="{% static 'js/bootstrap/plugin.js' %}"></script>
    <!-- sidebar -->
    <script src="{% static 'js/bootstrap/jquery.mCustomScrollbar.concat.min.js' %}"></script>
    <script src="{% static 'js/bootstrap/custom.js' %}"></script>
    
</body>
</html>
