{% extends 'partials/base.html' %}
{% block index %}
{% load static %}
  <!-- Brand -->
            <!--<a class="navbar-brand py-lg-2 mb-lg-5 px-lg-6 me-0" href="#">
                <h2>❤️Karseva</h2>
            </a>-->
            <div class="col-md-4">
                <div ><a href="index.html" style="display: flex; "><h1>KAR</h1><img class="logo" src="{% static 'images/index/karseva_logo.png' %}"><h1>EVA</h1></a></div>
            </div>
            <br>
            <!-- User menu (mobile) -->
            {% comment %} <div class="navbar-user ">
                <!-- Dropdown -->
                <div class="dropdown">
                    <!-- Toggle -->
                    <a href="/adminprofile" id="sidebarAvatar" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <div class="avatar-parent-child">
                            <img alt="Image Placeholder" src="https://images.unsplash.com/photo-1548142813-c348350df52b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=3&w=256&h=256&q=80" class="avatar avatar- rounded-circle">
                            <span class="avatar-child avatar-badge bg-success"></span>
                        </div>
                    </a>
                    <!-- Menu -->
                    <div class="dropdown-menu dropdown-menu-end" aria-labelledby="sidebarAvatar">
                        <a href="#" class="dropdown-item">Edit Profile</a>
                        <a href="#" class="dropdown-item">Settings</a>
                       
                        <a href="#" class="dropdown-item">Logout</a>
                    </div>
                </div>
            </div>  {% endcomment %}

{% endblock %}