{% load static %}
<div class="services_section layout_padding">
    <div class="container">
        <h1 class="services_taital"><span>Our </span><span style="color: #1f1f1f">Services</span></h1>
        <p class="services_text">Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
    </div>   
    <!-- <div class="container service"> -->
           <!-- Topic Cards -->
      <div id="cards_landscape_wrap-2">
      
      <div class="row">
          <div class="col">
              <a href="">
                  <div class="card-flyer" >
                      <div class="text-box">
                          <div class="image-box">
                              <img src="{% static 'images/index/service-1.jpg' %}" alt="" />
                          </div>
                          <div class="text-container">
                              <h6>Health Related</h6>
                              
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">Doctor's Appointment and visits </li>
                                    <li class="list-group-item">Medicine Procurement</li>
                                    <li class="list-group-item">Lab Tests assistance </li>
                                </ul>                            
                          </div>
                      </div>
                  </div>
              </a>
          </div>
          <div class="col">
              <a href="">
                  <div class="card-flyer">
                      <div class="text-box">
                          <div class="image-box">
                              <img src="{% static 'images/index/service-1.jpg' %}" alt="" />
                          </div>
                        <div class="text-container">
                            <h6>Daily Needs</h6>
                            
                              <ul class="list-group list-group-flush">
                                  <li class="list-group-item">Grocery Support </li>
                                  <li class="list-group-item">Home Maintenance</li>
                              </ul>                            
                        </div>
                      </div>
                  </div>
              </a>
          </div>
          <div class="col">
              <a href="">
                  <div class="card-flyer">
                      <div class="text-box">
                          <div class="image-box">
                              <img src="{% static 'images/index/service-1.jpg' %}" alt="" />
                          </div>
  
                        <div class="text-container">
                            <h6>Information and Guidance</h6>
                            
                              <ul class="list-group list-group-flush">
                                  <li class="list-group-item">Assistance for official and legal documentation work </li>
                                  <li class="list-group-item">Aadhaar/Passport/Pan Card/Official Certificates</li>
                                  <li class="list-group-item">Technology and Appliances assistance (Usage of Computer/Tablets/Smartphones etc.) </li>
                              </ul>                            
                        </div>
                      </div>
                  </div>
              </a>
          </div>
          <div class="col">
              <a href="">
                  <div class="card-flyer">
                      <div class="text-box">
                          <div class="image-box">
                              <img src="{% static 'images/index/service-1.jpg' %}" alt="" />
                          </div>
                          <div class="text-container">
                            <h6>Physiological Support</h6>
                            
                              <ul class="list-group list-group-flush">
                                  <li class="list-group-item">Emotional Support </li>
                                  <li class="list-group-item">Spend free time (Chit-chat/Watching TV/Playing Games)/li>
                                  <li class="list-group-item">Walk with me (visit to a nearby parks/places) </li>
                              </ul>                            
                        </div>
                      </div>
                  </div>
              </a>
          </div>
          <div class="col">
            <a href="">
                <div class="card-flyer">
                    <div class="text-box">
                        <div class="image-box">
                            <img src="{% static 'images/index/service-1.jpg' %}" alt="" />
                        </div>
                        <div class="text-container">
                          <h6>Physiological Support</h6>
                          
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">Emotional Support </li>
                                <li class="list-group-item">Spend free time (Chit-chat/Watching TV/Playing Games)/li>
                                <li class="list-group-item">Walk with me (visit to a nearby parks/places) </li>
                            </ul>                            
                      </div>
                    </div>
                </div>
            </a>
        </div>
      </div>
      
  </div>
  
    
  <!-- </div> -->
  </div>

