{% extends 'partials/task_nav.html' %}
{% block title %} Task View Request {% endblock %}
{% load static %}
{% block content %}
<style>
body {
    background: #BA68C8;
  }
  
  .form-control:focus {
    box-shadow: none;
    border-color: #BA68C8;
  }
  
  .profile-button {
    background: #BA68C8;
    box-shadow: none;
    border: none;
  }
  
  .profile-button:hover {
    background: #682773;
  }
  
  .profile-button:focus {
    background: #682773;
    box-shadow: none;
  }
  
  .profile-button:active {
    background: #682773;
    box-shadow: none;
  }
  
  .back:hover {
    color: #682773;
    cursor: pointer;
  }
</style>


<div class="container rounded bg-white mt-5">
  <h4>Task View Request</h4>
    <div class="row">
      
        <div class="col-md-12">
            <div class="p-3 py-5">
                <form>
                  {% for service in services %}
                  <div class="row mt-2">
                      <div class="col-md-4"><label>Requestor</label><input type="text" class="form-control" value="{{ service.requestor}}" ></div>
                      <div class="col-md-4"><label>SubCategory</label><input type="text" class="form-control" value="{{service.subCategory}}"></div>
                      <div class="col-md-4 dropdown" ><label>Status</label><br>
                        <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          -------
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                          <a class="dropdown-item" href="#">In Progress</a>
                          <a class="dropdown-item" href="#">Scheduled</a>
                          <a class="dropdown-item" href="#">Awaiting</a>
                        </div>
                      </div>
                  </div>
                  <div class="row mt-3">                   
                      <div class="col-md-6">
                        <label for="date">Request Time In Bound</label>&nbsp<i class="fa fa-calendar"></i>
                        <input id='Time In Bound' type="datetime-local" class="form-control input-group date" value="{{service.requestTimeInBound}}">
                      </div>
                      <div class="col-md-6">
                        <label for="date">Request Time Out Bound</label>&nbsp<i class="fa fa-calendar"></i>
                        <input id='Time In Bound' type="datetime-local" class="form-control input-group date" value="{{service.requestTimeInBound}}">
                      </div>
                  </div>
                  <div class="row mt-3">
                    <div class="col-md-6">
                      <label for="date">Actual Time In Bound</label>&nbsp<i class="fa fa-calendar"></i>
                      <input id='Time In Bound' type="datetime-local" class="form-control input-group date" value="{{service.requestTimeInBound}}">
                    </div>
                    <div class="col-md-6">
                      <label for="date">Actual Time Out Bound</label>&nbsp<i class="fa fa-calendar"></i>
                      <input id='Time In Bound' type="datetime-local" class="form-control input-group date" value="{{service.requestTimeInBound}}">
                    </div>
                  </div>
                  <div class="row mt-3">
                    <div class="col-md-6">
                      <label for="date">Request Created By</label>&nbsp<i class="fa fa-calendar"></i>
                      <input id='Time In Bound' type="datetime-local" class="form-control input-group date" value="{{service.requestTimeInBound}}">
                    </div>
                    <div class="col-md-6">
                      <label for="date">Request Created On</label>&nbsp<i class="fa fa-calendar"></i>
                      <input id='Time In Bound' type="datetime-local" class="form-control input-group date" value="{{service.requestTimeInBound}}">
                    </div>
                  </div>
                  <div class="row mt-3">
                      <div class="col-md-12"><label>Description</label><input type="textarea" class="form-control" value="{{service.description}}"></div>
                  </div>
                  <div class="mt-5 text-right"><button class="btn btn-primary profile-button" type="button">Save</button></div>
                {% endfor %}
                </form>
            </div>
        </div>
    </div>
    
  </div>
  {% endblock %}