{% extends 'partials/task_nav.html' %}
{% block title %} Task View page {% endblock %}
{% load static %}
{% block content %}

<style>
  
.star-rating .fa-star{color: gold;}
</style>

<div class="h-screen flex-grow-1 overflow-y-lg-auto">
   <div style="margin-left:3px">
    <div id="google_translate_element"></div>
   </div>
       

    <!-- Main -->
    
    <main class="py-6 bg-surface-secondary">
        <div class="container-fluid">
            <!-- Card stats -->
            <div class="row g-6 mb-6" id='cards'>

            <!-- 1 -->
            
            <div class="col" style="padding:0 !important;">
                <div class="card shadow p-3 py-5">
                    <div class="mt-3" style="display: flex;justify-content: space-between;">
                        Request: <h3>{{request_data.unique_no.value}}</h3>
                                                                                                                                                                            
                        <button class="btn btn-success float-right" id="coordinator_form_submit" data-toggle="modal" data-target=".save"  style="margin-right: 20px;border: none;" type="button">Save</i></button>

                    </div>
                    <form id='coordinator_form'>
                      <input class="form-control" id="task_id" name="task_id" value="{{request_data.id.value}}"  type="text" hidden>

                      <div class="row mt-2">
                        <div class="col-md-4"><label>Volunteer</label>
                          <input class="form-control"  id="volunteerName" list="volunteerName_list" onfocus="volunteerName_list()" name="volunteerName" value="{{request_data.volunteer.username.value}}" required>
                          <datalist id="volunteerName_list"></datalist>
                        
                        </div>
                        <div class="col-md-4"><label>Address/Location</label>
                            <textarea class="form-control"  id="address" name="address" rows="1" cols="50" >{{request_data.address.value}}</textarea>
                        </div>
                        <div class="col-md-4"><label>Pincode</label>
                          <input class="form-control" id="pincode" name="pincode" type="text"   placeholder="" value="{{request_data.pincode.value}}"  required>
                        </div>
                      </div>
                      <div class="row mt-2">    
                        <div class="col-md-4"><label>Description</label>
                            <textarea class="form-control"  id="description" name="description" rows="1" cols="50"  >{{request_data.description.value}} </textarea>
                        </div>
                        <div class="col-md-4"><label>Requested User</label>
                            <input class="form-control" id="user" name="user" value="{{request_data.requestor.first_name.value}}" type="text" placeholder="" >
                        </div>
                      </div>
                      <div class="row mt-2" >             
                          <div class="col-md-4">
                            <label for="time_in">Request Time In Bound</label>&nbsp<i class="fa fa-calendar"></i>
                            <input id='time_in' type="datetime-local" name="time_in" value="{{request_data.requestTimeInBound.value}}" class="form-control input-group date"  >
                          </div>
                          <div class="col-md-4">
                            <label for="time_out">Request Time Out Bound</label>&nbsp<i class="fa fa-calendar"></i>
                            <input id='time_out' type="datetime-local" name="time_out" value="{{request_data.requestTimeOutBound.value}}"  class="form-control input-group date" >
                          </div>
                          
                      </div>
                      <div class="row mt-2">
                        <div class="col-md-4" >
                            <label>Status</label>
                            <select class="form-select" name="status" id="status">
                                
                                <option value="CLOSED"{% if request_data.requestStatus.statusName.value == 'CLOSED' %}selected{% endif %}>CLOSED</option>
                                <option value="NEW"{% if request_data.requestStatus.statusName.value == 'NEW' %}selected{% endif %}>NEW</option>
                                <option value="ASSIGNED"{% if request_data.requestStatus.statusName.value == 'ASSIGNED' %}selected{% endif %}>ASSIGNED</option>
                                <option value="INPROGRESS"{% if request_data.requestStatus.statusName.value == 'INPROGRESS' %}selected{% endif %}>INPROGRESS</option>
                                <option value="PENDING"{% if request_data.requestStatus.statusName.value == 'PENDING' %}selected{% endif %}>PENDING</option>
                                <option value="RESOLVED"{% if request_data.requestStatus.statusName.value == 'RESOLVED' %}selected{% endif %}>RESOLVED</option>                          
                            </select>
                        </div>
                      </div>
                    </form>
                </div>
                
            </div>
            
            </div>
            {% if request_data.requestStatus.statusName.value == 'CLOSED' %}
            <div class="row mt-5">
              <label>User Ratings</label>
              <div class="container">
                  <div class="row">
                    <div class="col-lg-12">
                      <div class="star-rating">
                        <span class="fa fa-star-o" data-rating="1"></span>
                        <span class="fa fa-star-o" data-rating="2"></span>
                        <span class="fa fa-star-o" data-rating="3"></span>
                        <span class="fa fa-star-o" data-rating="4"></span>
                        <span class="fa fa-star-o" data-rating="5"></span>
                        <input type="hidden" name="rating" class="rating-value" id="rating" value={{request_data.userRating.ratingNumber.value}}>
                      </div>
                    </div>
                  </div>
              </div>
            </div>
          {% endif %}
            
        </div>  
             
    </main>
</div>

    
<script src="{% static 'js/coordinator/coordinator.js' %}"></script>
<script>
var $star_rating = $('.star-rating .fa');
var SetRatingStar = function() {
return $star_rating.each(function() {
if (parseInt($star_rating.siblings('input.rating-value').val()) >= parseInt($(this).data('rating'))) {
  return $(this).removeClass('fa-star-o').addClass('fa-star');
} else {
  return $(this).removeClass('fa-star').addClass('fa-star-o');
}
});
}
SetRatingStar();
</script>
{% endblock %}