{% extends 'partials/task_nav.html' %}
{% block title %} Task Coordinator's Request {% endblock %}
{% load static %}
{% block content %}

<!-- Main content -->
<div class="h-screen flex-grow-1 overflow-y-lg-auto">
    <!-- Main -->
    <main class="py-6 bg-surface-secondary">
        <div class="container-fluid">
            <!-- Card stats -->
            <div class="card shadow border-0 mb-7">
                <div class="card-header">
                    <h5 class="mb-0">All Tasks</h5>
                </div>
               
                
                <div class="table-responsive">
                    <table class="table table-hover table-nowrap">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">Name</th>
                                <th scope="col">Task No.</th>
                                <th scope="col">Requested Date</th>
                                <th scope="col">Pincode</th>
                                <th scope="col">Service</th>
                                <th scope="col">Status</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for service in services %}

                            <tr>
                                <td>
                                    <img alt="..." src="https://images.unsplash.com/photo-1502823403499-6ccfcf4fb453?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=3&w=256&h=256&q=80" class="avatar avatar-sm rounded-circle me-2">
                                    <a class="text-heading font-semibold" href="#">
                                        {{service.requestor.first_name}}
                                    </a>
                                </td>
                                <td>
                                    {{service.unique_no}}
                                </td>
                                <td>
                                    <a class="text-heading font-semibold" href="#">
                                        {{service.requestCreatedOn}}
                                    </a>
                                </td>
                                <td>
                                    {{service.pincode}}
                                </td>
                                <td>
                                    {{service.subCategory}}
                                </td>
                                <td>
                                    <span class="badge badge-lg badge-dot">
                                        {% if service.requestStatus.statusName == "NEW" %}
                                        <button type="button" class="btn btn-success btn-sm" disabled>NEW</button>
                                        {% elif service.requestStatus.statusName == "ASSIGNED"   %}
                                        <button type="button" class="btn btn-primary btn-sm" disabled>ASSIGNED</button>
                                        {% elif service.requestStatus.statusName == "INPROGRESS"   %}
                                        <button type="button" class="btn btn-info btn-sm" disabled>INPROGRESS</button>
                                        {% elif service.requestStatus.statusName == "PENDING"   %}
                                        <button type="button" class="btn btn-warning btn-sm" disabled>PENDING</button>
                                        {% elif service.requestStatus.statusName == "RESOLVED"   %}
                                        <button type="button" class="btn btn-danger btn-sm" disabled>RESOLVED</button>
                                        {% elif service.requestStatus.statusName == "CLOSED"   %}
                                        <button type="button" class="btn btn-secondary btn-sm" disabled>CLOSED</button>
                                        {% endif %}
                                    </span>
                                </td>
                                <td class="text-end">
                                    <a href="task_all_requests/{{service.id}}" class="btn btn-sm btn-neutral">View</a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                
            
                <div class="card-footer border-0 py-5">
                    <span class="text-muted text-sm">Showing 10 items out of 250 results found</span>
                </div>
            </div>
        </div>
    </main>
</div>

{% endblock %}