{% extends 'partials/volunteer_nav.html' %}
{% block title %} Volunteer Dashboard {% endblock %}
{% load static %}
{% block content %}
    <!-- Main content -->
<div class="h-screen flex-grow-1 overflow-y-lg-auto">
    <!-- Main -->
    <main class="py-6 bg-surface-secondary">
        <div class="container-fluid">
            <!-- Card stats -->
            <div class="row g-6 mb-6">
                
                <div class="col-xl-3 col-sm-6 col-12">
                    <div class="card shadow border-0" >
                        <center style="display: flex;flex-direction: row; flex-wrap: wrap;justify-content: center; align-items: baseline;">
                            <h1 class="font-semibold text-muted text-xl d-block mt-4" >Open Tasks</h1>
                            <span class="icon icon-shape bg-info text-white text-lg rounded-circle" style="width: 2.5rem;height: 2.5rem;margin-left: 2%;">
                                <i class="bi bi-people"></i>
                            </span>
                        </center>
                        <div class="card-body" style="display: flex; flex-direction: row;flex-wrap: wrap;align-content: center;justify-content: space-between;">                                
                            <div class="mt-2 mb-0 text-sm">
                                <span class="ext-nowrap text-xs text-muted"></span>
                                    <div class="mt-2 mb-0 text-sm">
                                        <span class="badge badge-pill bg-soft-warning text-warning me-2">
                                            <i class="bi bi-arrow-down me-1"></i>5
                                        </span>
                                        <span class="text-nowrap text-xs text-muted">In progress</span>
                                    </div>
                                    <div class="mt-2 mb-0 text-sm">
                                        <span class="badge badge-pill bg-soft-success text-success me-2">
                                            <i class="bi bi-arrow-up me-1"></i>15
                                        </span>
                                        <span class="text-nowrap text-xs text-muted">Scheduled</span>
                                    </div>
                                    <div class="mt-2 mb-0 text-sm">
                                        <span class="badge badge-pill bg-soft-danger text-danger me-2">
                                            <i class="bi bi-arrow-down me-1"></i>2
                                        </span>
                                        <span class="text-nowrap text-xs text-muted">Awaiting</span>
                                    </div>     
                            </div>
                            <div class="row" style="display: grid;">                            
                                <div class="col-auto">
                                    <div class="text-xl " style="font-size: 3.8rem!important; width: 5rem;height: 5rem;">
                                        15                                            
                                    </div>
                                </div>
                            </div>                               
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="card shadow border-0 mb-7">
                <div class="card-header">
                    <h5 class="mb-0">Tasks</h5>
                </div>
                
                <div class="table-responsive" style="max-height:30rem;overflow: scroll;" id="volunteer_tasks_table" >
                </div>
                
                
               
            </div>
        </div>
    </main>
</div>

<script src="{% static 'js/volunteer/volunteer.js' %}"></script>

{% endblock %}