{% extends 'partials/user_nav.html' %}
{% block title %} User Dashboard {% endblock %}
{% load static %}
{% block content %}

<style>
    .goog-te-combo{
        display: flex;
        border: none;
        padding: 10px;
        cursor: pointer;

    }
    .goog-te-menu2 { 
    max-width: 100% !important;
    overflow: scroll !important;
    box-sizing:border-box !important; 
    height:auto !important; 
    }
    .star-ratings {
    unicode-bidi: bidi-override;
    color: #ccc;
    position: absolute;
    margin: 0;
    padding: 0;
    }
    .star-ratings .fill-ratings {
    color: #e7711b;
    padding: 0;
    position: absolute;
    z-index: 1;
    display: block;
    top: 0;
    left: 0;
    overflow: hidden;
    }
    .star-ratings .fill-ratings span {
    display: inline-block;
    }
    .star-ratings .empty-ratings {
    padding: 0;
    display: block;
    z-index: 0;
    }
    label{
        font-weight: bold;
    }


</style>

<div class="h-screen flex-grow-1 overflow-y-lg-auto">
   <div style="margin-left:3px">
    <div id="google_translate_element"></div>
   </div>
       

    <!-- Main -->
    
    <main class="py-6 bg-surface-secondary">
        <div class="container-fluid">
            <!-- Card stats -->
            <div class="row g-6 mb-6" id='cards'>

            <!-- 1 -->
            
            <div class="col" style="padding:0 !important;">
                <div class="card shadow p-3 py-5">
                    <div class="mt-3" style="display: flex;justify-content: space-between;">
                        <h3>Submit New Request:</h3>

                        <button class="btn btn-primary profile-button float-right" id="user_submit_request_btn" style="margin-right: 20px;background-color: #519f3d;border: none;" type="button">Submit</button>
                    </div>
                    <form id="service_request_form">
                        <div class="row mt-2">
                            <div class="col"><label>Address/Location</label>
                                <textarea class="form-control"  id="address" name="address" rows="1" cols="50">{{request.user.usercontactinfo.address1|default_if_none:"" }}, {{request.user.usercontactinfo.LandMark|default_if_none:"" }}, {{request.user.usercontactinfo.city|default_if_none:"" }}, {{request.user.usercontactinfo.pincode|default_if_none:"" }}</textarea>
                            </div>
                        </div>
                      <div class="row mt-2">
                        <div class="col-md-4"><label>Category</label>
                            <input class="form-control" id="category" name="category" list="category_list" type="text" onchange="fetchVolunteer(this)"  onfocus="fecthCategory()" onblur="checkCategory(this)" placeholder="">
                            <datalist id="category_list"></datalist>
                        </div>
                        <div class="col-md-4"><label>Description</label>
                            <textarea class="form-control"  id="description" name="description" rows="1" cols="50"></textarea>
                        </div>
                        <div class="col" >
                            <label>Status</label>
                            <select class="form-select ignore" name="status" aria-label="Disabled select example" disabled style="display: block !important;">
                                <option value='NEW' selected>New</option>
                                <option value="1">In Progress</option>
                                <option value="2">Scheduled</option>
                                <option value="3">Completed</option>
                                <option value="3">Canceled</option>
                              </select>
                        </div>
                      
                      <div class="row mt-3">                   
                          <div class="col-md-6">
                            <label for="date">Request Time In Bound</label>&nbsp<i class="fa fa-calendar"></i>
                            <input id='Time In Bound' type="datetime-local" name="time_in" class="form-control input-group date">
                          </div>
                          <div class="col-md-6">
                            <label for="date">Request Time Out Bound</label>&nbsp<i class="fa fa-calendar"></i>
                            <input id='Time Out Bound' type="datetime-local" name="time_out"  class="form-control input-group date">
                          </div>
                      </div>
                    </form>
                </div>
            </div>
            <div class="card shadow border-0 mb-7 mt-5" style="max-height:30rem;overflow: auto;" id="volunteer_table">
                
                
            </div>
    </main>
</div>
<script src="{% static 'js/users/users.js' %}"></script>
<script type="text/javascript">
    //  model.niceSelect('destroy').niceSelect();
    
    function googleTranslateElementInit() {
      new google.translate.TranslateElement({pageLanguage: 'en', includedLanguages : 'hi,en,mr,ms,gu,kn,ta'},'google_translate_element');
    }
</script>

<script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
<script>
    
    $('#search').keyup(function (){
    const input=document.getElementById('search').value.toUpperCase();
    
    if(input==''){
        document.getElementById('tbody').style.display="contents"
    }
    const cardContainer=document.getElementById('tbody');
    const cards = cardContainer.getElementsByClassName('tr');
    for(let i =0; i< cards.length;i++){
        let title =cards[i].querySelector("tr td:first-child a");

        // console.log(title)
        if(title.innerText.toUpperCase().indexOf(input)>-1){
            cards[i].style.display="";
            // document.getElementById('cards').style.display="none";
            
        }
        else{
            cards[i].style.display="none";
            document.getElementById('tbody').style.display="contents";

        }
    }

})

</script>
{% endblock %}