{% extends 'partials/user_nav.html' %}
{% block title %} User Dashboard {% endblock %}
{% load static %}
{% load index %}
{% block content %}

<style>
    
    label{
        font-weight: bold;
    }
    .goog-te-combo{
        display: flex;
        border: none;
        padding: 10px;
        cursor: pointer;

    }
    .goog-te-menu2 { 
    max-width: 100% !important;
    overflow: scroll !important;
    box-sizing:border-box !important; 
    height:auto !important; 
    }
    .star-rating {
  line-height:32px;
  font-size:2.25em;
  margin-bottom: 1rem;
}

.star-rating .fa-star{color: gold;}
.second{
	width: 100%;
	background-color: white;
	border-radius: 4px;
	box-shadow: 10px 10px 5px #aaaaaa;
}


</style>

<div class="h-screen flex-grow-1 overflow-y-lg-auto">
   <div style="margin-left:3px">
    <div id="google_translate_element"></div>
   </div>
       

    <!-- Main -->
    
    <main class="py-6 bg-surface-secondary">
        <div class="container-fluid">
            <!-- Card stats -->
            <div class="row g-6 mb-6" id='cards'>

            <!-- 1 -->
            
            <div class="col" style="padding:0 !important;">
                <div class="card shadow p-3 py-5">
                    <div class="mt-3" style="display: flex;justify-content: space-between;">
                        Request: <h3>{{request_data.unique_no.value}}</h3>
                        <button class="btn btn-primary profile-button float-right" id="user_view_request_submit_btn" style="margin-right: 20px;background-color: #519f3d;border: none;" type="button">SAVE</button>
                    </div>
                    <form id="view_request_form">
                      <div class="row">

                      
                  
                      <div class="col"><label>Address/Location</label>
                        <textarea class="form-control"  id="address" name="address" rows="1" cols="50" readonly>{{request_data.address.value}} </textarea>
                      </div>
                      <div class="col"><label>Pincode</label>
                        <input class="form-control" id="pincode" name="pincode" type="text" readonly  placeholder="" value="{{request_data.pincode.value}} " required>
                      </div>
                      </div>
                      <div class="row mt-2">
                        <div class="col-md-4"><label>Category</label>
                            <input class="form-control" id="category" name="category" value="{{request_data.subCategory.subCategoryName.value}}" type="text" placeholder="" readonly>
                        </div>
                        <div class="col-md-4"><label>Description</label>
                            <textarea class="form-control"  id="description" name="description" rows="1" cols="50" {% if request_data.requestStatus.statusName.value == 'RESOLVED' or request_data.requestStatus.statusName.value == 'CLOSED' %} readonly {% endif %} >{{request_data.description.value}} </textarea>
                        </div>
                        <div class="col-md-4"><label>Volunteer</label>
                            <input class="form-control" id="volunteer" name="volunteer" value="{{request_data.volunteer.first_name.value}} - {{request_data.volunteer.usercontactinfo.primaryPhoneNumber.value}}" type="text" placeholder="" readonly>
                        </div>
                      </div>
                      <div class="row mt-2" style="justify-content: space-between;display: flex;flex-wrap: wrap;align-items: flex-start;" > 
                        <div class="col-md-4" >
                            <label>Status</label>
                            {% if request_data.requestStatus.statusName.value == 'RESOLVED' %}
                            <select class="form-select" name="status" id="status" >
                                <option value="RESOLVED"{% if request_data.requestStatus.statusName.value == 'RESOLVED' %}selected{% endif %}>RESOLVED</option>
                                <option value="CLOSED"{% if request_data.requestStatus.statusName.value == 'CLOSED' %}selected{% endif %}>CLOSED</option>
                            {% else %}
                            <select class="form-select" name="status" id="status" disabled>
                                <option {% if request_data.requestStatus.statusName.value == 'NEW' %}selected{% endif %}>NEW</option>
                                <option value="ASSIGNED"{% if request_data.requestStatus.statusName.value == 'ASSIGNED' %}selected{% endif %}>ASSIGNED</option>
                                <option value="INPROGRESS"{% if request_data.requestStatus.statusName.value == 'INPROGRESS' %}selected{% endif %}>INPROGRESS</option>
                                <option value="PENDING"{% if request_data.requestStatus.statusName.value == 'PENDING' %}selected{% endif %}>PENDING</option>
                                <option value="CLOSED"{% if request_data.requestStatus.statusName.value == 'CLOSED' %}selected{% endif %}>CLOSED</option>
                            
                           {% endif %}
                            </select>
                        </div>
                                        
                          <div class="col-md-4">
                            <label for="date">Request Time In Bound</label>&nbsp<i class="fa fa-calendar"></i>
                            <input id='time_in' type="datetime-local" name="time_in" value="{{request_data.requestTimeInBound.value}}" class="form-control input-group date" {% if request_data.requestStatus.statusName.value == 'RESOLVED' or request_data.requestStatus.statusName.value == 'CLOSED' %} readonly {% endif %}>
                          </div>
                          <div class="col-md-4">
                            <label for="date">Request Time Out Bound</label>&nbsp<i class="fa fa-calendar"></i>
                            <input id='time_out' type="datetime-local" name="time_out" value="{{request_data.requestTimeOutBound.value}}"  class="form-control input-group date" {% if request_data.requestStatus.statusName.value == 'RESOLVED' or request_data.requestStatus.statusName.value == 'CLOSED' %} readonly {% endif %}>
                          </div>
                      </div>
                    </form>
                </div>
            </div>
            {% if request_data.requestStatus.statusName.value == 'CLOSED' %}
            <div class="card shadow border-0 mb-7 mt-5">
                <div class="row">
                    <div class="col">
                        <label>Ratings</label>
                        <div class="container">
                            <div class="row">
                              <div class="col-lg-12">
                                <div class="star-rating">
                                  <span class="fa fa-star-o" data-rating="1"></span>
                                  <span class="fa fa-star-o" data-rating="2"></span>
                                  <span class="fa fa-star-o" data-rating="3"></span>
                                  <span class="fa fa-star-o" data-rating="4"></span>
                                  <span class="fa fa-star-o" data-rating="5"></span>
                                  <input type="hidden" name="rating" class="rating-value" id="rating"  {% if request_data.userRating.value %} value="{{request_data.userRating.ratingNumber.value}}" readonly {% else %} value="3" {% endif %}>
                                </div>
                              </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mb-5">
                    <div class="col">
                        <label>Feedback</label>
                        <textarea class="form-control"  id="feedback" name="feedback" rows="4" cols="50" {% if request_data.userFeedback.value %}readonly {% endif %}>{{request_data.userFeedback.value}}</textarea>
                    </div>
                </div>
            </div>
        {% endif %}
        {% if task_activity %}
        <div class="container-fluid justify-content-center mt-5 border-left border-right" style="background: #eef2f5;border-radius: 1rem;">
          <div class="d-flex justify-content-center pt-3 pb-2"> <input type="text" name="text" placeholder="+ Add a comment" class="form-control addtxt"> </div>
          {% for activity in task_activity %}
          <div class="d-flex justify-content-center py-2">
              <div class="second py-2 px-2">
                  <div class="d-flex justify-content-between py-1 pt-2">
                      <div><span class="text2">{{ activity.comments }}</span></div>
                      <div><span class="text3">{{ activity.time_added }}</span></div>
                  </div>
              </div>
          </div>
          {% endfor %}
        </div>
        {% endif %}
    </main>
</div>

{% if not request_data.userRating.value %}
<script>
    var $star_rating = $('.star-rating .fa');
    $star_rating.on('click', function() {
  $star_rating.siblings('input.rating-value').val($(this).data('rating'));
  return SetRatingStar();
});
</script>
{% endif %}
<script>

try{
    var $star_rating = $('.star-rating .fa');

    var SetRatingStar = function() {
    return $star_rating.each(function() {
    if (parseInt($star_rating.siblings('input.rating-value').val()) >= parseInt($(this).data('rating'))) {
      return $(this).removeClass('fa-star-o').addClass('fa-star');
    } else {
      return $(this).removeClass('fa-star').addClass('fa-star-o');
    }
  });
};

SetRatingStar();
}
catch(err){

}
</script>
<script src="{% static 'js/users/users.js' %}"></script>
<script type="text/javascript">

    
    function googleTranslateElementInit() {
      new google.translate.TranslateElement({pageLanguage: 'en', includedLanguages : 'hi,en,mr,ms,gu,kn,ta'},'google_translate_element');
    }
</script>


<script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>

{% endblock %}